.blog {

	&-item {
		@include breakpoint(tablet) {
			max-width: 90%;
		}
	}

	&-header {
		margin-bottom: rem(20);
		
		hr {
			margin-bottom: rem(5);
		}

		h3 {
			
		}

		h4 {
			padding: 0;
			margin: 0;
		}
	}

	&-headline {
		display:flex;
		flex-direction: row;
		align-items: baseline; 
		justify-content: space-between;
	}

	&-heading {
		display: flex;
		align-items: baseline;
		flex-direction: column;

		@include breakpoint($bp-medium-large) {
			flex-direction: row;
		}
	}
	
	//H3
	&-title {
		margin: 0 rem(15) 0 0;
		margin-bottom: 0;
		cursor: pointer;
		font-size: rem(24);
		order: 2;
		padding-top: 5px;

		@include breakpoint($bp-medium-large) {
			font-size: rem(24);
			order: 1;
			padding: 1em 0 0;
		}

		@include breakpoint(desktop) {
			font-size: rem(36);
		}
	}

	//H4
	&-list-date {
		font-size: rem(15);
		color: $color-black;
		order: 1;
		display: block;

		@include breakpoint($bp-medium-large) {
			font-size: rem(12);
			order: 2;
		}

		@include breakpoint(desktop) {
			font-size: rem(20);
		}
	}


	&-reading-time {
		display: none;

		@include breakpoint($bp-medium-large) {
			display: block;
		}
	}

	&-tag.tag {
		border: 2px solid $color-secondary;
		padding: 5px;
		font-size: rem(9);
		width: 100px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}
	}

	&-read-more {
		transition: 0.3s;
		text-decoration: underline;
	}

	&-container {

		.pagination {
			list-style-type: none;
			text-align: center;
			
			.active {
				border-radius: 50%;
				color: $color-white;

				span {
					padding: 4px 11.57px;
				}
			}
		}

		.grid-third {
			// @include breakpoint($bp-small) {
			// 	width: 100%;
			// }

			@include breakpoint($bp-medium-large) {
				width: 33.33333%;
			}
		}
	}
}

#breadcrumbs {
	padding-left: 0;
	position: absolute;
	top: 5px;
	text-align: center;
	
	span {
		padding: 0 5px 0 0;
	}
}