.blog-search {
    &-container {
        h1 {
            text-align: center;
            font-size: rem(30);

            @include breakpoint(tablet) {
                font-size: rem(40);
            }
        }

        h2 {
            font-weight: normal;
            text-align: center;
            font-size: rem(18);
            margin-bottom: rem(50);

            @include breakpoint(tablet) {
                font-size: rem(24);
            }
        }

        .search-wrapper {
            width: 100%;
            max-width: 75%;
            margin: 0 auto;
            

            .fa {
                right: 17%;
                font-size: 1.25em;
                top: 25px;

                @include breakpoint(desktop) {
                    max-width: 50%;
                    right: 27%;
                    font-size: 1.75em;
                    top: 35px;
                }
            }

            .search-input {
                max-width: 75%;
                margin: 0 auto;
                display: block;

                @include breakpoint(desktop) {
                    max-width: 50%;
                }
            }
        }

        .blog-item {
            max-width: 75%;
            margin: 0 auto;
        }

        #breadcrumbs {
            @include transform-center('horizontal');
            width: 100%;
            font-size: rem(12);

            @include breakpoint(tablet) {
                font-size: 1em;
            }

            @include breakpoint(desktop) {
                max-width: 75%;
                width: 100%;
                margin: 0 auto;
                padding: 0;

                
            }
        }
    }
}