.footer {
	position: relative;
	margin-top: 65px;
	color: $color-white;
	

	a {
		color: $color-white;
		font-family: Montserrat;
		letter-spacing: 1px;
		line-height: 30px;
	}

	&-container {
		display: block;
		width: 88%;
    	max-width: 80em;
    	margin: 0 auto;
		position: relative;
		z-index: 1;

		&:before {
			display: block;
		}
		
		@include breakpoint(desktop) {
			display: flex;
			justify-content: space-between;
		}
	}

	&-share {
		display: block;
		font-size: 1.25em;
		padding-top: 65px;
		text-align: center;

		@include breakpoint(desktop) {
			padding: 0;
		}	
	}

	&-links {
		display: none;

		.active {
			background-color: white;
      		border-radius: 5em;
		}
	}

	&-share, &-links {
		width: auto;
		margin: 0;
		vertical-align: top;
		
		@include breakpoint(tablet) {
			// padding: 10px;
		}

		@include breakpoint(desktop) {
			width: auto;
			margin-top: 20px;
			display: inline-flex;
			// height: 25px;
			padding: 10px 0;
		}

		li {
			display: inline-block;
			list-style-type: none;
			padding: 10px 7px;

			@include breakpoint(tablet) {
				padding: 0px 15px;
			}
		}
	}

	&-legal {
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 10px;

		@include breakpoint(desktop) {
			width: 100%;
		}
	}

	&-text-bubble {
		position: absolute;
		width: 250px;
		height: auto;
		min-height: 45px;
		padding: 10px;
		border-radius: 7px;
		left: 50%;
    	bottom: 115px;
    	z-index: 2;
    	transform: translateX(-51%);
    	opacity: 0;
    	transition: 0.3s;

    	&.active {
    		opacity: 1;
    		bottom: 125px;
    	}

		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 0;
			border-color: #FFFFFF transparent;
			display: block;
			width: 0;
			z-index: 1;
			bottom: -15px;
			left: 110px;
		}

		&:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 17px 17px 0;
			border-color: #FFF transparent;
			display: block;
			width: 0;
			z-index: 0;
			bottom: -20px;
			left: 108px;
		}

		p {
			text-align: center;
			color: $color-white;
			margin: 0;
		}
	}
		
	&-logo {
		display: block;
		width: 100px;
		height: 100px;
		border-width: 4px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		overflow: hidden;
		background-image: url('../images/mii.png');
		background-size: 100px;
		background-position: 60% 5px;
		background-repeat: no-repeat;
		cursor: pointer;

		&-wrap {
			width: 108px;
			height: 108px;
			// background-color: $color-white;
			// background: linear-gradient(180deg, transparent 50%, white 50%);
			background-image: url("../images/halftone.png");
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 0%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}

		&:hover {
			background-position: 60% -120px;
		}

		.thanksgiving & {
			background-image: url('../images/mii-thanksgiving.png');
			background-position: 1px 5px;

			&:hover {
				background-position: 1px -120px;
			}
		}

		.st-pattys & {
			background-image: url('../images/mii-st-pattys.png');
			background-position: 0 5px;

			&:hover {
				background-position: 0 -120px;
			}
		}

		.cinco-de-mayo & {
			background-image: url('../images/mii-cinco-de-mayo.png');
			background-position: 0 5px;

			&:hover {
				background-position: 0 -120px;
			}
		}

		.easter & {
			background-image: url('../images/mii-easter.png');
			background-position: 0 5px;

			&:hover {
				background-position: 0 -120px;
			}
		}

		.halloween & {
			background-image: url('../images/mii-halloween.png');
			background-position: 0 5px;

			&:hover {
				background-position: 0 -120px;
			}
		}
	}
}