.home-page {
	
	h3 {
		margin-bottom: rem(12);
	}

	.blog-container {
		
		.blog-item {
			margin-top: 2em;
			max-width: none;
		}

		.blog-header {

			.blog-title {
				font-family: 'League Spartan';
				text-transform: uppercase;
				padding-top: 5px;
				font-size: rem(24);

				// @include breakpoint(desktop) {
				// 	font-size: rem(28);
				// }

				a {
					color: $color-black;
				}
			}

			.blog-list-date {
				color: $color-primary;

				@include breakpoint(desktop) {
					font-size: rem(18);
				}
			}
		}
	}
}