{% embed 'partials/base.html.twig' %}

	{% block content %}
		
		<section class="blog-article-container container">
			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}
			<div class="row">
				<div class="blog-article grid-two-thirds">
					{% include 'partials/blog_article.html.twig' with {'blog':page.parent, 'truncate':false} %}
				</div>
				<aside class="sidebar grid-third">
					{% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
				</aside>
			</div>
		</section>
	{% endblock %}

{% endembed %}